.w-form-formradioinput--inputType-custom {
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-top-color: #ccc;
  border-bottom-color: #ccc;
  border-left-color: #ccc;
  border-right-color: #ccc;
  border-top-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  width: 12px;
  height: 12px;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

.w-form-formradioinput--inputType-custom.w--redirected-focus {
  box-shadow: 0px 0px 3px 1px #3898ec;
}

.w-form-formradioinput--inputType-custom.w--redirected-checked {
  border-top-width: 4px;
  border-bottom-width: 4px;
  border-left-width: 4px;
  border-right-width: 4px;
  border-top-color: #3898ec;
  border-bottom-color: #3898ec;
  border-left-color: #3898ec;
  border-right-color: #3898ec;
}

body {
  font-family: Rubik, sans-serif;
  color: #000d1d;
  font-size: 17px;
  line-height: 24px;
}

h1 {
  margin-top: 24px;
  margin-bottom: 8px;
  font-size: 42px;
  line-height: 1.4;
  font-weight: 500;
}

h2 {
  margin-top: 24px;
  margin-bottom: 8px;
  font-size: 36px;
  line-height: 1.4;
  font-weight: 400;
}

h3 {
  margin-top: 24px;
  margin-bottom: 8px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}

h4 {
  margin-top: 8px;
  margin-bottom: 8px;
  font-size: 17px;
  line-height: 24px;
  font-weight: 500;
  letter-spacing: 1.8px;
  text-transform: uppercase;
}

h5 {
  margin-top: 0px;
  margin-bottom: 8px;
  font-size: 13px;
  line-height: 16px;
  font-weight: 500;
  letter-spacing: 1.8px;
  text-transform: uppercase;
}

h6 {
  margin-top: 0px;
  margin-bottom: 8px;
  font-size: 13px;
  line-height: 16px;
  font-weight: 500;
  letter-spacing: 1.8px;
}

p {
  margin-bottom: 24px;
}

a {
  display: inline-block;
  border-bottom: 2px solid #2263b1;
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  color: #000d1d;
  text-decoration: none;
}

a:hover {
  color: #2263b1;
}

ul {
  margin-bottom: 16px;
  list-style-type: disc;
}

ol {
  margin-top: 0px;
  margin-bottom: 16px;
  padding-left: 40px;
  list-style-type: lower-roman;
}

img {
  display: inline-block;
  max-width: 100%;
}

blockquote {
  margin-top: 24px;
  margin-bottom: 24px;
  padding: 4px 0px 8px 28px;
  border-left: 3px solid rgba(43, 48, 91, 0.5);
  font-size: 28px;
  line-height: 1.4;
  font-weight: 400;
}

figure {
  margin-top: 16px;
  margin-bottom: 32px;
}

figcaption {
  margin-top: 8px;
  font-size: 13px;
  text-align: right;
  letter-spacing: 1.8px;
  text-transform: uppercase;
}

.hero {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #000d1d;
  background-image: url('../images/landscape8.jpg');
  background-position: 50% 100%;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
}

.container {
  position: relative;
  z-index: 1;
  width: 100%;
  max-width: 1224px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 28px;
  padding-left: 28px;
}

.container.align-center {
  padding-right: 28px;
  padding-bottom: 0px;
  padding-left: 28px;
  text-align: center;
}

.hero-detail {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 150px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.hero-detail:hover {
  text-align: right;
}

.hero-detail.hide-mobile-l {
  display: block;
}

.hero-detail-block {
  width: 224px;
  margin-bottom: 0px;
  color: hsla(0, 0%, 100%, 0.6);
  font-weight: 500;
  text-align: center;
  letter-spacing: 1.8px;
  text-transform: uppercase;
}

.hero-content {
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 60vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  text-align: center;
}

.hero-subtitle {
  margin-top: 0px;
  margin-bottom: 40px;
}

.couple {
  padding-bottom: 32px;
}

.couple-divider {
  margin-top: 24px;
  margin-bottom: 24px;
}

.headline {
  font-size: 55px;
  line-height: 60px;
  font-weight: 700;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.headline.color-accent {
  margin-bottom: 40px;
  color: #fff;
  font-size: 36px;
}

.flourishes {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 0;
  display: none;
}

.flourishes.hero-flourishes {
  display: none;
}

.corner {
  position: absolute;
  width: 32px;
  height: 32px;
  background-image: url('../images/flourish-corner-tl.svg');
  background-position: 50% 50%;
  background-size: cover;
}

.corner.corner-top-left {
  left: 32px;
  top: 32px;
  display: block;
}

.corner.corner-top-right {
  top: 32px;
  right: 32px;
  display: block;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.corner.corner-bottom-right {
  right: 32px;
  bottom: 32px;
  display: block;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.corner.corner-bottom-left {
  left: 32px;
  bottom: 32px;
  display: block;
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}

.circle {
  position: absolute;
  width: 48px;
  height: 24px;
  background-image: url('../images/flourish-circle.svg');
  background-position: 0px 0px;
  background-size: cover;
  background-repeat: no-repeat;
}

.circle.circle-top {
  left: 50%;
  top: 50px;
  -webkit-transform: translate(-50%, 0px);
  -ms-transform: translate(-50%, 0px);
  transform: translate(-50%, 0px);
}

.circle.circle-right {
  top: 50%;
  right: 50px;
  -webkit-transform: translate(0px, -24px) rotate(-90deg);
  -ms-transform: translate(0px, -24px) rotate(-90deg);
  transform: translate(0px, -24px) rotate(-90deg);
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}

.circle.circle-bottom {
  left: 50%;
  bottom: 50px;
  -webkit-transform: translate(-50%, 0px);
  -ms-transform: translate(-50%, 0px);
  transform: translate(-50%, 0px);
}

.circle.circle-left {
  left: 50px;
  top: 50%;
  -webkit-transform: translate(0px, -24px) rotate(90deg);
  -ms-transform: translate(0px, -24px) rotate(90deg);
  transform: translate(0px, -24px) rotate(90deg);
  -webkit-transform-origin: 0% 100%;
  -ms-transform-origin: 0% 100%;
  transform-origin: 0% 100%;
}

.nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 998;
  background-color: #fff;
}

.cta-link {
  position: relative;
  padding-bottom: 10px;
  border-bottom-style: none;
  font-weight: 500;
  letter-spacing: 1.8px;
  text-decoration: none;
  text-transform: uppercase;
}

.cta-link.color-accent {
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
}

.link-text {
  position: relative;
  z-index: 1;
  color: #2263b1;
}

.link-text.atf {
  color: #fff;
}

.link-underline {
  position: absolute;
  left: 50%;
  top: 30px;
  bottom: 0%;
  z-index: 0;
  width: 100%;
  height: 2px;
  border-radius: 1px;
  background-color: #fff;
  -webkit-transform: translate(-50%, 0px);
  -ms-transform: translate(-50%, 0px);
  transform: translate(-50%, 0px);
}

.section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding-top: 128px;
  padding-bottom: 128px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.section.section-video {
  position: relative;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(43, 48, 91, 0.8)), to(rgba(43, 48, 91, 0.8))), url('../images/hero-image-2.jpeg');
  background-image: linear-gradient(180deg, rgba(43, 48, 91, 0.8), rgba(43, 48, 91, 0.8)), url('../images/hero-image-2.jpeg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
  background-attachment: scroll, fixed;
}

.section.hide-overflow {
  overflow: hidden;
}

.section.section-gallery {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 13, 29, 0.5)), to(rgba(0, 13, 29, 0.5))), url('../images/2017_3.jpg');
  background-image: linear-gradient(180deg, rgba(0, 13, 29, 0.5), rgba(0, 13, 29, 0.5)), url('../images/2017_3.jpg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
  background-attachment: scroll, fixed;
}

.section.section-donations {
  background-color: #fff;
}

.menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  background-color: #000d1d;
}

.menu-link {
  padding: 24px;
  border-bottom-style: none;
  color: #fff;
  font-size: 13px;
  line-height: 16px;
  font-weight: 500;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.menu-link.w--current {
  border-bottom: 2px solid #2263b1;
  color: #2263b1;
}

.headline-display {
  font-size: 96px;
  line-height: 88px;
  font-weight: 700;
  text-align: left;
  letter-spacing: 0.75vw;
  text-transform: uppercase;
}

.timeline {
  height: 640px;
  margin-bottom: 128px;
  background-color: transparent;
}

.timeline-mask {
  overflow: visible;
}

.event-slide {
  width: 20%;
  padding-right: 0px;
  padding-bottom: 0px;
}

.event-slide-inner {
  display: -ms-grid;
  display: grid;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  grid-auto-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  text-align: center;
}

.color-accent {
  color: #2263b1;
}

.event-wrapper {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  padding: 0px 32px 64px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  box-shadow: 0 2px 0 0 #000d1d;
  text-align: center;
}

.event-wrapper.bottom {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 64px;
  padding-bottom: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  border-top: 2px solid #000d1d;
  box-shadow: none;
}

.event-wrapper.last {
  padding-bottom: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  box-shadow: none;
}

.arrow-icon {
  top: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 48px;
  height: 48px;
  margin: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #2263b1;
  -webkit-transform: translate(0px, -24px);
  -ms-transform: translate(0px, -24px);
  transform: translate(0px, -24px);
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  color: #000d1d;
  font-size: 20px;
}

.arrow-icon:hover {
  background-color: #000d1d;
  color: #2263b1;
}

.table {
  border-top: 2px solid #000d1d;
}

.table-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border-left: 2px solid #000d1d;
}

.table-cell {
  padding: 24px 28px;
  -webkit-box-flex: 1;
  -webkit-flex: auto;
  -ms-flex: auto;
  flex: auto;
  border-right: 2px solid #000d1d;
  border-bottom: 2px solid #000d1d;
}

.table-cell.cell-highlight {
  background-color: transparent;
}

.button {
  min-width: 200px;
  margin-top: 32px;
  margin-bottom: 32px;
  padding: 20px 24px;
  background-color: #2263b1;
  -webkit-transition: background-color 200ms ease, color 200ms ease;
  transition: background-color 200ms ease, color 200ms ease;
  color: #fff;
  font-size: 13px;
  line-height: 16px;
  font-weight: 500;
  text-align: center;
  letter-spacing: 1.5px;
  text-decoration: none;
  text-transform: uppercase;
}

.button:hover {
  background-color: #000d1d;
  color: #2263b1;
}

.button.submit-button {
  width: 100%;
  margin-top: 0px;
}

._2-column-grid {
  display: -ms-grid;
  display: grid;
  margin-top: 25px;
  grid-auto-columns: 1fr;
  grid-column-gap: 28px;
  grid-row-gap: 32px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.grid-column {
  position: relative;
}

.grid-column.no-padding {
  padding-right: 0px;
  padding-left: 0px;
}

.slider-arrow {
  width: 48px;
}

.slider-arrow.arrow-left {
  left: -16px;
  -webkit-transform: translate(100%, 0px);
  -ms-transform: translate(100%, 0px);
  transform: translate(100%, 0px);
}

.slider-arrow.arrow-right {
  right: -16px;
  -webkit-transform: translate(-100%, 0px);
  -ms-transform: translate(-100%, 0px);
  transform: translate(-100%, 0px);
}

.slider-nav {
  display: none;
}

.event-image {
  position: absolute;
  bottom: auto;
  z-index: 1;
  opacity: 0.25;
  -webkit-transform-origin: 0% 0%;
  -ms-transform-origin: 0% 0%;
  transform-origin: 0% 0%;
}

.dark-background {
  background-color: #000d1d;
  color: #fff;
}

.video {
  margin-bottom: 48px;
  background-color: #000d1d;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.25), 0 64px 64px -32px rgba(19, 19, 19, 0.75);
}

.color-white {
  color: #fff;
}

.party-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 28px;
  grid-row-gap: 32px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.person {
  position: relative;
  margin-bottom: 64px;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}

.person-info {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  z-index: 1;
  margin-right: -32px;
  margin-bottom: -32px;
  margin-left: -32px;
  padding-top: 32px;
  padding-bottom: 64px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(43, 48, 91, 0)), color-stop(25%, rgba(43, 48, 91, 0.4)), to(#000d1d));
  background-image: linear-gradient(180deg, rgba(43, 48, 91, 0), rgba(43, 48, 91, 0.4) 25%, #000d1d);
}

.person-bio {
  overflow: hidden;
  margin-bottom: 0px;
  padding-right: 64px;
}

.sticky-wrapper {
  position: -webkit-sticky;
  position: sticky;
  top: 96px;
}

.registry-grid {
  display: -ms-grid;
  display: grid;
  padding-top: 64px;
  justify-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 56px;
  grid-row-gap: 32px;
  grid-template-areas: ". . Area";
  -ms-grid-columns: 1fr 56px 1fr 56px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.registry-logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border-bottom-style: none;
  -webkit-filter: none;
  filter: none;
  -webkit-transition: -webkit-filter 200ms ease, -webkit-transform 200ms ease;
  transition: -webkit-filter 200ms ease, -webkit-transform 200ms ease;
  transition: filter 200ms ease, transform 200ms ease;
  transition: filter 200ms ease, transform 200ms ease, -webkit-filter 200ms ease, -webkit-transform 200ms ease;
}

.registry-logo:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.logo-image {
  max-height: 64px;
}

.gallery-link {
  position: relative;
  display: block;
  overflow: scroll;
  margin: 5px;
  padding-bottom: 0px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 15.7%;
  -ms-flex: 0 15.7%;
  flex: 0 15.7%;
  border-bottom-style: none;
  -webkit-transition-property: none;
  transition-property: none;
  -o-object-fit: fill;
  object-fit: fill;
}

.gallery-image {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.gallery-image._1 {
  background-image: url('../images/fabrizio-verrecchia-bQxGg8Vx1Vc-unsplash.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.gallery-hover {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(34, 99, 177, 0.5);
  color: #fff;
}

.event {
  position: relative;
  z-index: 1;
  max-width: 360px;
  padding-top: 12px;
  padding-right: 12px;
  padding-left: 12px;
}

.timeline-tick {
  position: absolute;
  left: 50%;
  bottom: 0px;
  width: 2px;
  height: 32px;
  background-color: #000d1d;
}

.timeline-tick.top {
  top: 0px;
  bottom: auto;
}

.align-center {
  text-align: center;
}

.wedding-icon {
  max-width: 160px;
}

.accordion-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 16px 28px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: color 200ms ease, background-color 200ms ease;
  transition: color 200ms ease, background-color 200ms ease;
  cursor: pointer;
}

.accordion-header:hover {
  background-color: #000d1d;
  color: #2263b1;
}

.accordion-icon {
  width: 24px;
  height: 24px;
  margin-right: 12px;
}

.accordion-body {
  overflow: hidden;
  padding-right: 28px;
  padding-left: 28px;
  box-shadow: inset 0 2px 0 0 #000d1d;
}

.accordion-body.light {
  box-shadow: inset 0 2px 0 0 #fff;
}

.first {
  margin-bottom: 0px;
}

.accordion {
  margin-bottom: 32px;
  border-style: solid;
  border-width: 2px;
  border-color: #000d1d;
}

.accordion.last {
  margin-bottom: 0px;
}

.accordion.light {
  border-color: #fff;
}

.accordion-text {
  margin-top: 18px;
  margin-bottom: 16px;
}

.form-wrapper {
  position: relative;
  z-index: 1;
  margin-bottom: 0px;
  text-align: center;
}

.text-input {
  height: 56px;
  margin-bottom: 16px;
  border: 1px solid transparent;
  font-weight: 400;
  text-align: center;
}

.text-input::-webkit-input-placeholder {
  color: rgba(43, 48, 91, 0.5);
}

.text-input:-ms-input-placeholder {
  color: rgba(43, 48, 91, 0.5);
}

.text-input::-ms-input-placeholder {
  color: rgba(43, 48, 91, 0.5);
}

.text-input::placeholder {
  color: rgba(43, 48, 91, 0.5);
}

.text-input.accordion-input {
  margin-top: 18px;
}

.form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 480px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #000d1d;
}

.footer-links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer-item {
  margin-right: 14px;
  margin-left: 14px;
}

.link-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.article {
  margin-top: 16px;
  margin-bottom: 64px;
  padding: 32px;
  background-color: #fff;
}

.styleguide-label {
  width: 100%;
  padding-top: 8px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  font-family: Inconsolata, monospace;
  color: rgba(43, 48, 91, 0.6);
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 1px;
}

.styleguide-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 24px;
  margin-bottom: 32px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.styleguide-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 28px;
  grid-row-gap: 32px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.styleguide-swatch {
  width: 100%;
  margin-bottom: 8px;
  padding: 48px;
  border: 1px solid transparent;
}

.bg-primary {
  background-color: #000d1d;
}

.bg-primary.styleguide-swatch {
  background-color: #103663;
}

.bg-accent {
  background-color: #2263b1;
}

.bg-accent.styleguide-swatch {
  background-color: #2263b1;
}

.bg-black {
  background-color: #131313;
}

.bg-white {
  background-color: #fff;
}

.bg-white.styleguide-swatch {
  border-color: rgba(19, 19, 19, 0.1);
}

.styleguide-code {
  display: inline-block;
  padding-right: 4px;
  padding-left: 6px;
  border-radius: 3px;
  background-color: #ffcfbb;
  font-family: Inconsolata, monospace;
  font-size: 15px;
}

.styleguide-instruction {
  margin-bottom: 32px;
  padding: 12px 24px;
  border-left: 3px solid #2263b1;
  border-radius: 0px 3px 3px 0px;
  background-color: #f0f0f0;
  font-family: Inconsolata, monospace;
}

.color-primary {
  color: #000d1d;
}

.color-black {
  color: #131313;
}

.styleguide-link {
  padding-bottom: 0px;
  border-bottom-style: none;
  text-decoration: underline;
}

.styleguide-padding {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 16px;
  padding-bottom: 16px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.styleguide-padding.bg-primary.align-center {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.styleguide-body {
  background-image: none;
  background-position: 0px 0px;
  background-size: auto;
  background-repeat: repeat;
  background-attachment: scroll;
}

.styleguide-back-link {
  margin-bottom: 32px;
  color: #fff;
}

.gallery-grid {
  display: -ms-grid;
  display: grid;
  margin-bottom: -28px;
  -webkit-align-content: space-between;
  -ms-flex-line-pack: justify;
  align-content: space-between;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  grid-column-gap: 28px;
  grid-row-gap: 32px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.hero-body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-wrapper {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100vh;
  min-height: 800px;
  padding-right: 28px;
  padding-left: 28px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url('../images/bg-shadows.jpg');
  background-position: 50% 50%;
  background-size: cover;
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
}

.utility-page-content {
  position: relative;
  z-index: 1;
}

.padded-top {
  padding-top: 32px;
}

.radio-button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0px;
  padding-left: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.radio-group {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 16px;
  margin-bottom: 16px;
  padding-top: 20px;
  padding-bottom: 16px;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  border-style: solid;
  border-width: 2px;
  border-color: #fff;
}

.radio-button-label {
  margin-bottom: 0px;
  font-size: 15px;
}

.radio-button-toggle {
  width: 24px;
  height: 24px;
  margin-top: 0px;
  margin-bottom: 12px;
  margin-left: 0px;
  border-width: 2px;
  border-color: #fff;
  -webkit-transition: border-width 200ms ease;
  transition: border-width 200ms ease;
}

.radio-button-toggle.w--redirected-checked {
  border-width: 6px;
  border-color: #2263b1;
}

.radio-button-toggle.w--redirected-focus {
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.25);
}

.cancel-link {
  position: absolute;
  left: 32px;
  top: 32px;
  z-index: 1;
  margin-bottom: 32px;
  color: #fff;
}

.error-message {
  margin-top: 16px;
}

.heading {
  margin-bottom: 25px;
  text-align: left;
}

.photo-gallery {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
}

.gallery-scroll-track {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 1;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
}

.gallery-container {
  position: relative;
  top: 0px;
  overflow: hidden;
  width: 100%;
  height: 100vh;
}

.gallery-track {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 300vw;
  height: 100%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.gallery {
  position: relative;
  width: 100%;
  height: 4000px;
  margin-top: 50px;
  margin-bottom: 50px;
  background-image: linear-gradient(45deg, #000d1d, #2263b1);
}

.paragraph {
  margin-bottom: 0px;
}

.paragraph-2 {
  margin-bottom: 0px;
}

.div-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.last {
  margin-top: 20px;
  margin-bottom: 0px;
}

.heading-2 {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #000d1d;
  font-size: 32px;
}

.image {
  display: block;
  height: 100%;
}

.gif-block {
  display: block;
  height: 23vh;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  text-align: center;
}

.second {
  margin-bottom: 0px;
}

.text-block {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
}

.spacer {
  position: absolute;
  bottom: 15vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.charity-logos {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.faq-header {
  margin-bottom: 0px;
}

.paragraph-3 {
  text-align: left;
}

.blue {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  background-color: rgba(34, 99, 177, 0.5);
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
}

.blue:hover {
  opacity: 0;
  -webkit-filter: blur(13px);
  filter: blur(13px);
}

.gallery-link-new {
  position: relative;
  display: block;
  overflow: scroll;
  margin: 5px;
  padding-bottom: 0px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 15.7%;
  -ms-flex: 0 15.7%;
  flex: 0 15.7%;
  border-bottom-style: none;
  -webkit-transition-property: none;
  transition-property: none;
  -o-object-fit: fill;
  object-fit: fill;
}

.charity-description {
  display: none;
  margin-top: 10px;
  font-size: 12px;
  line-height: 1.2;
}

@media screen and (max-width: 991px) {
  .hero {
    background-position: 29% 50%;
  }

  .container.align-center {
    padding-right: 28px;
    padding-left: 28px;
  }

  .hero-content {
    top: 15vh;
  }

  .hero-subtitle {
    margin-bottom: 20px;
  }

  .headline.color-accent {
    margin-bottom: 20px;
    line-height: 45px;
  }

  .nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    background-color: #000d1d;
  }

  .cta-link.color-accent {
    padding-bottom: 5px;
  }

  .section {
    min-height: 0vh;
    padding-top: 64px;
  }

  .section.section-video {
    padding-top: 128px;
  }

  .section.section-gallery {
    padding-bottom: 64px;
  }

  .menu {
    height: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    background-color: #000d1d;
  }

  .menu-link {
    padding: 20px 28px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    border-bottom-style: solid;
    border-bottom-color: hsla(0, 0%, 100%, 0.1);
    -webkit-transition: letter-spacing 200ms ease, color 200ms ease;
    transition: letter-spacing 200ms ease, color 200ms ease;
    color: #fff;
    text-align: left;
  }

  .menu-link.w--current {
    border-bottom-color: hsla(0, 0%, 100%, 0.1);
    letter-spacing: 3px;
  }

  .headline-display {
    font-size: 80px;
    line-height: 72px;
  }

  .event-slide {
    width: 50%;
  }

  ._2-column-grid {
    display: block;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .grid-column {
    padding-right: 0px;
    padding-left: 0px;
  }

  .party-grid {
    padding-right: 16px;
    padding-left: 16px;
    grid-column-gap: 56px;
    grid-row-gap: 56px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .person {
    margin-bottom: 0px;
  }

  .person-info {
    margin-right: -8px;
    margin-bottom: -16px;
    margin-left: -16px;
    padding-bottom: 48px;
  }

  .person-bio {
    padding-right: 48px;
  }

  .sticky-wrapper {
    position: static;
  }

  .registry-grid {
    grid-row-gap: 56px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .gallery-link {
    margin-bottom: 5px;
    -webkit-flex-basis: 23%;
    -ms-flex-preferred-size: 23%;
    flex-basis: 23%;
  }

  .gallery-hover {
    display: none;
    background-size: 32px;
  }

  .first {
    margin-bottom: 0px;
  }

  .footer-links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .footer-item {
    margin-bottom: 16px;
  }

  .footer-item.last {
    margin-bottom: 0px;
  }

  .link-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .menu-button {
    margin-right: 28px;
    margin-left: 28px;
    padding: 16px;
    background-color: transparent;
    -webkit-transition: background-color 200ms ease;
    transition: background-color 200ms ease;
  }

  .menu-button.w--open {
    background-color: transparent;
  }

  .menu-icon {
    width: 24px;
    height: 24px;
    -webkit-filter: brightness(200%) brightness(200%) brightness(200%) brightness(200%);
    filter: brightness(200%) brightness(200%) brightness(200%) brightness(200%);
  }

  .menu-close {
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    z-index: 1;
    display: none;
  }

  .gallery-grid {
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .hide-tablet {
    display: none;
  }

  .last {
    margin-bottom: 0px;
  }

  .heading-2 {
    font-size: 24px;
  }

  .second {
    margin-bottom: 0px;
  }

  .text-block {
    font-size: 12px;
  }

  .gallery-link-new {
    margin-bottom: 5px;
    -webkit-flex-basis: 23%;
    -ms-flex-preferred-size: 23%;
    flex-basis: 23%;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    margin-top: 0px;
    margin-bottom: 12px;
    font-size: 36px;
  }

  h2 {
    margin-top: 0px;
    margin-bottom: 12px;
    font-size: 32px;
  }

  h3 {
    margin-top: 0px;
    margin-bottom: 12px;
  }

  h4 {
    margin-top: 0px;
  }

  p {
    margin-bottom: 12px;
  }

  blockquote {
    font-size: 24px;
  }

  .hero {
    position: relative;
    display: block;
    height: auto;
    min-height: 100vh;
    background-color: #000d1d;
    background-position: 25% 50%;
  }

  .container {
    padding-right: 14px;
    padding-left: 14px;
  }

  .container.align-center {
    padding-right: 14px;
    padding-left: 14px;
  }

  .hero-detail {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .hero-detail-block {
    width: auto;
    margin-top: 16px;
    margin-bottom: 16px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
  }

  .hero-subtitle {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 20px;
  }

  .couple {
    margin-top: 14px;
    padding-bottom: 14px;
  }

  .couple-divider {
    margin-top: 14px;
    margin-bottom: 14px;
  }

  .headline {
    font-size: 50px;
    line-height: 56px;
  }

  .headline.color-accent {
    margin-bottom: 10px;
    font-size: 24px;
    line-height: 30px;
  }

  .flourishes.hero-flourishes {
    position: relative;
    width: 100%;
    height: 344px;
    background-image: url('../images/hero-image.jpg');
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .corner.corner-top-left {
    left: 14px;
    top: 14px;
  }

  .corner.corner-top-right {
    top: 14px;
    right: 14px;
  }

  .corner.corner-bottom-right {
    right: 14px;
    bottom: 14px;
  }

  .corner.corner-bottom-left {
    left: 14px;
    bottom: 14px;
  }

  .circle.circle-top {
    top: 32px;
  }

  .circle.circle-right {
    right: 32px;
  }

  .circle.circle-bottom {
    bottom: 32px;
  }

  .circle.circle-left {
    left: 32px;
  }

  .nav {
    background-color: #000d1d;
  }

  .cta-link.color-accent {
    padding-bottom: 0px;
  }

  .link-text {
    font-size: 14px;
    line-height: 20px;
  }

  .link-underline {
    top: 20px;
  }

  .section {
    padding-top: 48px;
    padding-bottom: 48px;
  }

  .section.section-video {
    padding-top: 96px;
    background-color: #131313;
    background-image: none;
    background-size: auto;
    background-repeat: repeat;
    background-attachment: scroll;
  }

  .section.section-gallery {
    padding-bottom: 48px;
  }

  .section.section-donations {
    padding-bottom: 48px;
  }

  .headline-display {
    margin-bottom: 16px;
    font-size: 64px;
    line-height: 72px;
  }

  .timeline {
    height: 512px;
    margin-bottom: 96px;
  }

  .event-slide {
    width: 50%;
  }

  .event-wrapper {
    padding-right: 14px;
    padding-bottom: 48px;
    padding-left: 14px;
  }

  .event-wrapper.bottom {
    padding-top: 48px;
  }

  .table-cell {
    padding: 24px 16px;
  }

  .button {
    min-width: 150px;
    margin-top: 18px;
    margin-bottom: 18px;
    padding: 10px 12px;
    font-size: 11px;
  }

  .video {
    margin-bottom: 24px;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.25), 0 24px 24px -12px rgba(19, 19, 19, 0.75);
  }

  .party-grid {
    display: block;
    padding-right: 0px;
    padding-left: 0px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .person {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 32px;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }

  .person-photo {
    margin-right: 24px;
  }

  .person-info {
    margin-left: 0px;
    padding-bottom: 24px;
    padding-left: 24px;
  }

  .registry-grid {
    padding-top: 48px;
    grid-column-gap: 56px;
    grid-row-gap: 48px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .registry-logo {
    margin-bottom: 25px;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  .gallery-link {
    width: 100%;
  }

  .gallery-link.last {
    margin-bottom: 0px;
  }

  .event {
    padding-right: 0px;
    padding-left: 0px;
  }

  .accordion-header {
    padding-right: 14px;
    padding-left: 14px;
  }

  .accordion-body {
    padding-right: 14px;
    padding-left: 14px;
  }

  .first {
    margin-bottom: 0px;
  }

  .accordion-text {
    margin-top: 16px;
    margin-bottom: 14px;
  }

  .form {
    width: 100%;
    max-width: 480px;
    margin-right: auto;
    margin-left: auto;
  }

  .article {
    margin-bottom: 48px;
    padding: 24px;
  }

  .styleguide-instruction {
    margin-bottom: 24px;
  }

  .menu-button {
    margin-right: 14px;
    margin-left: 14px;
    background-color: transparent;
  }

  .gallery-grid {
    display: block;
    padding-right: 0px;
    padding-left: 0px;
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .hero-body {
    padding-top: 48px;
    padding-bottom: 48px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .hide-mobile-l {
    display: none;
  }

  .utility-page-wrapper {
    padding-right: 14px;
    padding-left: 14px;
  }

  .utility-page-content {
    width: 100%;
  }

  .radio-button-label {
    font-size: 13px;
    line-height: 16px;
  }

  .last {
    margin-bottom: 0px;
  }

  .heading-2 {
    font-size: 18px;
  }

  .second {
    margin-bottom: 0px;
  }

  .charity-logos {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .gallery-link-new {
    width: 100%;
  }

  .gallery-link-new.last {
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 479px) {
  h1 {
    font-size: 32px;
    line-height: 1.2;
  }

  h2 {
    font-size: 28px;
    line-height: 1.2;
  }

  h3 {
    font-size: 22px;
    line-height: 28px;
  }

  h4 {
    font-size: 16px;
    letter-spacing: 1.5px;
  }

  h5 {
    letter-spacing: 1.5px;
  }

  p {
    font-size: 15px;
  }

  blockquote {
    padding-left: 16px;
  }

  .hero {
    background-position: 21% 50%;
  }

  .container {
    padding-right: 5px;
    padding-bottom: 0px;
    padding-left: 5px;
  }

  .hero-detail {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .hero-detail-block.last {
    margin-bottom: 0px;
  }

  .hero-content {
    padding-top: 0px;
    padding-bottom: 16px;
  }

  .couple-divider {
    margin-top: 8px;
    margin-bottom: 8px;
  }

  .headline {
    font-size: 40px;
    line-height: 40px;
    letter-spacing: 2.5px;
  }

  .corner {
    width: 16px;
    height: 16px;
  }

  .corner.corner-top-left {
    left: 8px;
    top: 8px;
  }

  .corner.corner-top-right {
    top: 8px;
    right: 8px;
  }

  .circle {
    width: 24px;
    height: 12px;
  }

  .circle.circle-top {
    top: 16px;
  }

  .circle.circle-right {
    right: 24px;
  }

  .circle.circle-bottom {
    bottom: 24px;
  }

  .circle.circle-left {
    left: 24px;
  }

  .section {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .section.section-video {
    padding-top: 64px;
  }

  .section.section-gallery {
    padding-bottom: 32px;
  }

  .headline-display {
    font-size: 48px;
    line-height: 48px;
  }

  .timeline {
    height: 360px;
    margin-bottom: 64px;
  }

  .event-slide {
    width: 100%;
  }

  .color-accent {
    font-size: 12px;
  }

  .arrow-icon {
    width: 40px;
    height: 40px;
  }

  .table-cell {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .slider-arrow.arrow-left {
    left: -26px;
    width: 40px;
  }

  .slider-arrow.arrow-right {
    right: -26px;
    width: 40px;
  }

  .video {
    margin-bottom: 16px;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.25);
  }

  .person-photo {
    margin-right: 0px;
    -o-object-fit: cover;
    object-fit: cover;
  }

  .person-info {
    margin-right: 0px;
    margin-bottom: 0px;
    padding-bottom: 16px;
    padding-left: 16px;
  }

  .sticky-wrapper {
    padding-right: 10px;
    padding-left: 10px;
  }

  .registry-logo {
    width: 100%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }

  .logo-image {
    max-height: 48px;
  }

  .gallery-link {
    margin-bottom: 5px;
    -webkit-flex-basis: 30%;
    -ms-flex-preferred-size: 30%;
    flex-basis: 30%;
  }

  .first {
    margin-bottom: 0px;
  }

  .accordion {
    margin-bottom: 16px;
  }

  .article {
    padding: 14px;
  }

  .styleguide-grid {
    grid-column-gap: 14px;
    grid-row-gap: 16px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .styleguide-code {
    font-size: 13px;
  }

  .styleguide-instruction {
    padding-left: 16px;
    font-size: 15px;
  }

  .menu-button {
    margin-left: 13px;
  }

  .hero-body {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .hide-mobile-s {
    display: none;
  }

  .utility-page-wrapper {
    min-height: 735px;
    padding-top: 64px;
    padding-bottom: 14px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .cancel-link {
    left: 50%;
    -webkit-transform: translate(-50%, 0px);
    -ms-transform: translate(-50%, 0px);
    transform: translate(-50%, 0px);
  }

  .heading {
    margin-top: 25px;
    padding-right: 14px;
    padding-left: 14px;
  }

  .last {
    margin-bottom: 0px;
  }

  .second {
    margin-bottom: 0px;
  }

  .charity-logos {
    margin-top: 25px;
  }

  .faq-header {
    font-size: 12px;
  }

  .gallery-link-new {
    margin-bottom: 5px;
    -webkit-flex-basis: 30%;
    -ms-flex-preferred-size: 30%;
    flex-basis: 30%;
  }
}

#w-node-_01db56ca-c581-f9ac-5c17-2a8e8312b65a-feb371cd {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
}

#w-node-a5004ddf-6567-ba22-8e4b-d68b623f35ed-feb371cd {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
}

#w-node-_6416d21e-9e9c-dfd5-1fe5-7b107ce1e53a-feb371cd {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
}

#w-node-d07bff80-ef1f-c285-b0c5-2ae94c3e731c-feb371cd {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
}

